<div id="root-mapping-hook" class="columnGroup threeColumnGroup">
	<div id="column-1" class="column column-1">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.   </p>
	</div>
	<div id="column-2" class="column column-2">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.   </p>
	</div>
	<div id="column-3" class="column column-3">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.   </p>
	</div>
</div>
<!-- end .threeColumnGroup  -->

<!-- Notes:
There is a clearing div added via TypoScript just inside the wrapper's closing div
Also id's on root element and columns will not be in final output
-->