<div id="root-mapping-hook" class="moduleGroup dualModuleGroup">
	<div id="module-1" class="module module-1">
		<h3 class="moduleHeader"><span>Module</span></h3>
		<div class="moduleBody">
			<p>Content</p>
		</div>
		<div class="moduleFooter"><span>&nbsp;</span></div>
	</div>
	<div id="module-2" class="module module-2">
		<h3 class="moduleHeader"><span>Module</span></h3>
		<div class="moduleBody">
			<p>Content</p>
		</div>
		<div class="moduleFooter"><span>&nbsp;</span></div>
	</div>
</div>
<!-- end .dualModuleGroup  -->

<!-- Notes:
There is a clearing div added via TypoScript just inside the wrapper's closing div
Also id's on root element and columns will not be in final output
-->