.nobr {
	white-space:normal;
}

.tpm-container-element {
	margin-bottom: 10px;
	margin-top: 10px;
	width:100%;
}

.fceTypeHeader {
	background-color: #5B5B5B;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #7F7F7F), to(#5B5B5B));
	background-repeat: repeat-x;
	color:white;
	font-size:14px;
	margin:0;
	text-align:center;
}

.tvColumnWrap {
	 background-color: #eaeaea;
	 margin:0;
	 paddng:0;
}

#tvContentOuterWrap {
	margin: 10px;
}


.tvContentTab {
	background-color: #cccccc;
	color: #797d80;
	cursor: pointer;
	float: left;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	margin: 0 5px;
	padding: 4px 0 2px;
	position: relative;
	text-align: center;
	width: 125px;
	z-index: 1100;
}

#tvTabBase {
	background-color: #5B5B5B;
	clear: both;
	height: 10px;
}

.tvContent {
	background-color: #f2f2f2;
	border: 3px solid #5B5B5B;
	clear: both;
	padding: 0 5px;
}

.tpm-preview {
	height: 45px;
	overflow: hidden;
}

.sortable_handle {
	cursor: move;
}

.tvContentTab.tvfwActiveTab {
	background-color: #5B5B5B;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #7F7F7F), to(#5B5B5B));
	background-repeat: repeat-x;
	color: white;
	cursor: auto;
}

.t3-page-ce.inactive .t3-row-header {
	background-color:#cccccc;
	visibility:visible;
}

.t3-page-ce.inactive .t3-row-header .tpm-element-control {
	visibility:hidden;
}

.t3-page-ce.active .t3-row-header {
	visibility:visible;
}

.t3-page-ce .t3-page-ce.active .t3-row-header .tpm-element-control {
	visibility:visible;
}

.t3-row-header .tpm-element-control {
	float: right;
}

.t3-page-ce.active .t3-page-ce.inactive .t3-row-header,
.t3-row-header {
	background-color: transparent;
	background: none;
	color:#5B5B5B;
	font-size: 12px;
	font-weight: bold;
}

.tpm-titlebar-page .t3-row-header {
	color:white;
}

.t3-page-ce.active .t3-row-header,
.tpm-titlebar-page {
	background-color: #5B5B5B;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #7F7F7F), to(#5B5B5B));
	background-repeat: repeat-x;
	color: white;
	font-weight: bold;
}

.tpm-warnings {
	background-color: #DDEEF9;
	border: 1px solid #8aafc4;
	margin: 5px 0;
	padding: 3px 5px;
}

.tpm-warnings .t3-icon {
	display: none;
}

.tpm-sub-elements {
	border-top: none;
	border: 1px solid #cacaca;
	padding: 5px;
}

.tpm-sub-elements .tpm-sub-elements {
	background-color: white;
}

.typo3-templavoila-pagemodule > #typo3-docbody > #typo3-docheader-row2 {
	height: auto;
}

.tpm-content-cell {
	border: none;
}



/* added because we replace not just add to TV stylesheet */

.tpm-titlebar {
	overflow: hidden;
}


.typo3-templavoila-pagemodule > #typo3-docbody {
	top: 22px;
}

.tpm-element-title {
	margin-right: 0;
}

.tpm-element-title .tpm-langIcon {
	float: left;
	padding-right: 5px;
	padding-top: 2px;
}

.typo3-docheader-buttons {
	height: auto;
}